.passengerForm{
    width: 600px;
    height: auto;
    margin: 0 auto;
    justify-content: center;
}
.main{
    // margin: 0 auto;
    text-align: center;
}
.name_group, .surname_group, .email_group, .phone_group, .birthday_group, .passport_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name, .surname, .email, .phone, .birthday, .passport{
 width: 60%;
 height: 30px;
 border-radius: 5px;
 border: 1px black solid;
}
input{
   margin: 0 auto;
}
.submit{
    width: 100px;
    height: 45px;
    margin-top: 10px;
}

.ticketText{
    color: rgb(97, 97, 97);
    font-weight: 400;
    // margin-bottom: 5px;
    text-align: center;
}
.priceBox{
    color: blue;
    font-weight: 900;
    margin-bottom: 5px;
}
.durationBox{
    color: gray;
    font-weight: 400;
}
.airAstanaLogo{
    width: 90px;
    height: 30px;
    align-self: center;
    // margin: 15px;
}
.ticketsBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.ticket{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 650px;
    border-radius: 10px;
    border: 1px solid rgb(180, 180, 180);
    // margin: 10px 0;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}
.departure, .stops,.arrival {
    margin: 0px 20px;
    align-self: center;
    text-align: center;
}

.oneStop{
   width: 40px;
    height: 40px;
    align-self: center;
}
.price{
    align-self: center;
}
.selectButtons{
        align-self: center;
 margin: 25px;
width: 120px;
height: 25px;
}
.imageLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 15px;
}
.imageInnerText{
    text-align: center;
}

.priceBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
    width: 1620px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.priceTotal{
    color: black;
    font-weight: 600;
    font-size: 22px;
}

.priceCurrency{
    color: black;
    font-weight: 600;
    font-size: 24px;
}
.checkOutButton{
    margin: 0 auto;
    width: 151px;
    height: 55px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #42B8FF;
    color: white;
    font-size: 26px;
    font-weight: 600;
    // margin-top: 10px;
    align-self: center;
    align-items: center;
    
    // margin-left: 75px;
}
.buttonBlock{
    // max-width: 800px;
    // display: flex;
    // flex-direction: row;
    align-self: center;
    margin: 0 auto;
    max-width: 600px;
}
.space{
    height: 123px;
}
.quantityGroup{
    align-self: center;
    // width: 130px;
    margin: 0 auto;

}
.inputQuantity{
    width: 40px;
    text-align: center;
}
.plus, .minus{
    width: 25px;
    height: 25px;
    background-color: #42B8FF;
    color: white;
    border-radius: 5px;
}
.plus{
    margin-right: 10px;
}
.wrapper{
    max-width: 600px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    margin: 0 auto;
}
// .oneTicket{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     margin: 0 auto;
//     align-items: center;
//     align-self: center;
// }