.textBlock{
    width: 50%;
    margin: 0 auto;
}
.mainText{
    line-height: 50px;
    font-size: 24px;
    font-weight: 600;
}
.secondText{
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
}
.map{
    // width: 50%;
    // height: 400px;
    // margin: 0 auto;
    margin-bottom: 40px;
}