.wrapper{
    background-color: white;
    max-width: 100%;
    min-height: 142px;
    box-shadow: 0px 1px 3px #ECEFF0;
    color: black;
}

.headerInner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.companyLogo{
    width: 182px;
    height: 129px;
}

.authBlock{
    display: flex;
}

.userLogin{
    width: 24px;
    height: 24px;
    align-self: center;
    margin-right: 2px;
}

.account{
    align-self: center;
    color: #42B8FF;
    margin: 10px;
    margin-top: 58px;
}

.cartBlock{
    background-color: white;
    height: 60px;
    align-self: center;
    margin-right: 2px;
    margin-top: 34px;
}

.cart{
    width: 45px;
    height: 45px;
    margin-right: 2px;
}

.burgerMenu{
    width: 24px;
    height: 24px;
    align-self: center;
    margin-left: 9px;
}

.burgerButton{
    background-color: transparent;
}
.burgerMenu{
    width: 24px;
    height: 24px;
    align-self: center;
}

.burgerBlock{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.menuItems{
    position: absolute;
    top: 90px;
    width: 330px;
    background-color: white;
    display: flex;
    min-height: 40px;
    justify-content: space-evenly;
    line-height: 40px;
    border-radius: 10px;
    
}
.menuItems li {
  list-style: none;
  text-decoration: none;
  color: black;
}
.menuItems a{
    text-decoration: none; 
}