.wrapper{
    width: 60%;
    margin: 0 auto;
}
.logo{
    width: 420px;
    height: 306px;
    margin: 0 auto;
    display: flex;
}
.textBlock{
    width: 50%;
    margin: 0 auto;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.bannerImage{
    width: 800px;
}

.fig {
    position: relative;
}
  
.figcaption {
    position: absolute;
    top: 38%;
    left: 23%;
    transform: translate(-50%, -50%);
}

.bannerWords{
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}

.bannerSecWords{
    color: white;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
}

.bannerButton{
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}