.wrapper{
    display: flex;
    justify-content: center;
    }

    .directionNameBlock{
        display: grid;
        grid-template-columns: minmax(220px, 220px) auto minmax(200px, 200px);
        background-color: #185FB1;
        color: white;
        margin-top: 15px;
        border-radius: 10px;
        height: 85px;
        width: 100%;
        padding-top: 9px;
    }

    .findIcon{
        width: 40px;
        height: 40px;
        margin-left: 20px;
        align-self: center;
        align-self: center;
        padding: 2px;
        background-color: white;
        border-radius: 10px;
    }

    .directionCity{
        font-weight: 600;
        margin-top: 10px;
        margin-left: -120px;
    }

    .date{
        margin-top: 10px;
        margin-left: 100px;
    }

    .status{
        margin-left: 100px;
        margin-top: -20px;
    }

    .ticketsBlock{
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .category{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: center;
        margin: 0 auto;
    }

    .statusTicketBoxes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2px;
        align-self: center;
    }

    .bestFlight {
        width: 180px;
        padding: 15px;
        border: 1px rgb(176, 176, 176) solid;
        border-radius: 10px;
        text-align: center;
        font-weight: 600;
        color: rgb(75, 75, 75);
        margin-top: 10px;
        &:hover{
            color: #185FB1;
        }
    }
    
    .ticket{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100px;
        width: 650px;
        border-radius: 10px;
        border: 1px solid rgb(180, 180, 180);
        margin: 10px 0;
    }
